<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bootstrap/bootstrap-5.3.0-alpha3-dist/css/datatable.css" rel="stylesheet" />
</head>
<body>
    @await Component.InvokeAsync("Navbar") 
    <div class="container mt-4">
        @RenderBody()
    </div>



    <script src="~/bootstrap/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.js"></script>
</body>
</html>
